.Nav{
    width: 100%;
    height: 60px;
    padding: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 350px;
}

.first-Nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.second-Nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

