@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: Outfit;
}

#app{
    width: 100%;
    min-height: 100vh;
   
    margin: 0px;
}
.App{
    display: flex;
  
}